:root {
  --color-background: #121214;
  --color-title: #02799d;
  --color-subtitle: #e1e1e6;
  --color-text: #c4c4cc;

  --color-card-border: #202024;
  --color-card-background: #323238;

  font-size: 62.5%; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: "Mulish", sans-serif;

  font-size: 1.6rem;
}

h1 {
  color: var(--color-title);
  font-size: 5.9rem;
  font-weight: 800;
}

h2 {
  color: var(--color-subtitle);
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  color: var(--color-subtitle);
  font-size: 3.6rem;
  font-weight: 700;
}

p {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 600;
}
